* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background-image: url("traveling-doodle.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: linear-gradient(180deg, rgb(57, 62, 70, 1), rgb(146, 154, 171, 0.9));
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #eeeeee;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  font-weight: bold;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgb(238, 238, 238, 1) 0%, rgb(146, 154, 171, 1) 100%);
  color: #393e46;
  font-weight: bold;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #fbf8f1;
}

.todo-button.edit {
  background: linear-gradient(90deg, rgb(251, 248, 241, 1) 0%, rgb(247, 236, 222, 1) 100%);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #393e46;
  background: linear-gradient(to right, rgb(238, 238, 238, 1) 0%, rgb(146, 154, 171, 1) 100%);

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(to left, rgb(238, 238, 238, 1) 0%, rgb(146, 154, 171, 1) 100%);
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(to right, rgb(238, 238, 238, 1) 0%, rgb(146, 154, 171, 1) 100%);
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(to left, rgb(238, 238, 238, 1) 0%, rgb(146, 154, 171, 1) 100%);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #393e46;
}

.edit-icon {
  color: #393e46;
}

.complete-task {
  cursor: pointer;
  margin-right: 5px;
  height: 20px;
  width: 20px;
}
